

<link rel="stylesheet" media="screen and (min-width: 768px)"href="/responsive.css/respaudit.css">
<body>
  <div class="title">
    <h1>L' Audit Web</h1>
  </div>
 
    <section class="row mb-5 ">
    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Audit Sécurité web</p>
          </div>
         
          <div class="theback">
            <p class="back">En France, comme ailleurs dans le monde, il est très difficile d'estimer et d'identifier le
              nombre d'entreprises piratées. Il est encore plus délicat d'estimer les coûts, directs et indirects, de
              ces actes de malveillance. Il est facile d'imaginer alors les conséquences dramatiques que cela
              entraîne, tant sur le plan financier qu'humain.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Boîte Blanche</p>
          </div>
          <div class="theback">
            <p class="back">Le Client fournit à notre équipe tous les documents de la cible (pages sources d'un site
              web, plan d'architecture, documents organisationnels...).
              L’équipe ITFS rédige un rapport faisant ressortir toute les éventuelles faiblesses de la cible.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Boîte Noire</p>
          </div>
          <div class="theback">
            <p class="back">Il s’agit d’un audit de sécurité qui se fait à l'aveugle, à l’inverse de l’audit boîte
              blanche. Le client ne transmet aucune information concernant son système d’information. Un audit boîte
              noire permet d’avoir une vue complète,
              fiable et rigoureuse de la sécurité sur le plan technique.
              rigoureuse de la sécurité sur le plan technique.</p>
          </div>
        </div>
      </div>
    </div>
   <div class="space"> <br> </div>
    <section class="row mb-5">
    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Audit referencement web</p>
          </div>
          <div class="theback">
            <p class="back">Contrôlez vos positions sur autant de mots-clés que nécessaire et aussi souvent que vous le
              souhaitez. Suivez l'évolution de votre référencement et comparez vos positions sur desktop et mobile.
              Analysez votre visibilité SEO et partagez
              des tableaux de bords en ligne simple et percutants.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Contrôle de vos performances SEO</p>
          </div>
          <div class="theback">
            <p class="back">Suivez vos performances de référencement de site : SEO, SEA et SMM.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="maincontainer">
        <div class="thecard">
          <div class="thefront">
            <p class="front">Comparez vos résultats à un (ou plusiers) concurrents</p>
          </div>
          <div class="theback">
            <p class="back">Voyez la concurrence pour vous améliorer.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </section>

