
<body>

  <h1>L' Audit Web</h1>

  <div class="row mb-5">
    <div class="col-sm-4">
      <div class="maincontainer">
      <div class="thecard">
        <div class="thefront"><p class="front">Audit Sécurité web</p></div>
        <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
        </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="maincontainer">
          <div class="thecard">
            <div class="thefront"><p class="front">Boîte Blanche</p></div>
                      <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
        </div>
        </div>
        </div>
        <div class="col-sm-4">
          <div class="maincontainer">
          <div class="thecard">
            <div class="thefront"><p class="front">Boîte Noire</p></div>
            <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
            </div>
            </div>
            </div>
            </div>
            <div class="row mb-5">
              <div class="col-sm-4">
                <div class="maincontainer">
                <div class="thecard">
                  <div class="thefront"><p class="front">Audit referencement web</p></div>
                      <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
                  </div>
                  </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="maincontainer">
                    <div class="thecard">
                      <div class="thefront"><p class="front">Contrôle de vos performances SEO</p></div>
                      <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
                  </div>
                  </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="maincontainer">
                    <div class="thecard">
                      <div class="thefront"><p class="front">Comparez vos résultats à un (ou plusiers) concurrents</p></div>
                      <div class="theback"><p class="back">lorem ipsum dolor sit amet, consectet</p></div>
                      </div>
                      </div>
                      </div>
                      </div>
  

</body>


  
