h1, h2{
    font-family: Mistral, Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 5rem;
    text-align: center;
    color:#FFC400;
}

p{
    text-align: justify;
    font-size: 0.6rem;;
}

.fond{
    width: 100%;
    height: 340vh;
    background-image: url('../../../assets/images/legalmentions/bglegalmentions.jpg');
    position: absolute;
}

.card{
    background-color: rgba(255,255,255,0.5);
}
