<div>
    <div class="fond text-center">
        <h1>MENTIONS LÉGALES</h1>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Découvrir notre Équipe</h2>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">L'Agence ITFS, l'Entreprise</h2>
                        <p class="card-text">La société INFORMATIQUE TECHNOLOGIE FORMATION SAVOIE (ITFS) est un centre de ressources proposant des compétences plurielles dans le secteur informatique et digital.<br />
                            Identification : <br />
                            Dénomination Sociale : INFORMATIQUE TECHNOLOGIE FORMATION SAVOIE (ITFS)<br />
                            SASU au capital de 3.000 €<br />
                            Immatriculation : B.888.011.392 RCS Chambéry<br />
                            N° Siret : 888.011.392.00014<br />
                            Code NAF/APE : 6202A<br />
                            Président : Daniel PERDRIOLLE</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Adresse du Siège Social</h2>
                        <p class="card-text">Route des Vaisselets<br />
                            73170 SAINT-PAUL<br />
                            Email: Perdriolle Daniel : dpitfs@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Organisme de Formation Agréé</h2>
                        <p class="card-text">Numéro de déclaration d'activité: ********</p>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Conception et Réalisation du Site Internet</h2>
                        <p class="card-text">Le site internet de l'ITFS est la propriété exclusive de la société ITFS, agence web qui développe et gère le contenu (texte, image, logo, blog...).</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Hébergement du Site Internet</h2>
                        <p class="card-text">Le site internet de l'Agence ITFS est hébergé sur un serveur mutualisé.<br />
                            Le serveur mutualisé est la propriété de la société OVH, avec laquelle l'Agence ITFS a un contrat de partenariat commercial.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Messagerie</h2>
                        <p class="card-text">Pour toute remarque sur le fonctionnement du site, écrivez à l'administrateur du site à l’adresse www.itfs.fr<br />
                            Les messages que vous nous ferez parvenir par l'intermédiaire d'Internet peuvent êtres interceptés sur le réseau. Jusqu'à ce qu'ils nous parviennent, leur confidentialité ne peut pas être garantie.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Gestion des Données Personnelles</h2>
                        <p class="card-text">En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la Loi n°2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.<br/>
                            À l’occasion de l’utilisation du site www.itfs.fr, peuvent être recueillies : l’URL des liens par l’intermédiaire desquels l’utilisateur a accédé au site www.itfs.fr, le fournisseur d’accès de l’utilisateur, l’adresse de protocole Internet (IP) de l’utilisateur.<br/>
                            En tout état de cause la société ITFS ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site www.itfs.fr. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site www.itfs.fr l’obligation ou non de fournir ces informations.<br/>
                            Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.<br/>
                            Aucune information personnelle de l’utilisateur du site www.itfs.fr n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de ITFS et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l’utilisateur du site www.itfs.fr.<br/>
                            Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Exonération de Responsabilité</h2>
                        <p class="card-text">ITFS ne donne aucune garantie et n'assume aucune responsabilité relative à l'usage, la copie, la transmission et à toute utilisation des informations, de quelque nature que ce soit, contenues sur le site www.itfs.fr.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Liens Hypertextes & Cookies</h2>
                        <p class="card-text">Nous utilisons des cookies sur ce site. En poursuivant votre navigation, vous acceptez l’utilisation de ces cookies.<br>
                            Un cookie est un petit fichier texte envoyé à votre navigateur via le site web consulté. Grâce à ce cookie, le site web mémorise des informations sur votre visite. Cela peut faciliter votre visite suivante sur ce site et renforcer l'utilité de ce dernier pour vous.<br/>
                            En outre, le site www.itfs.fr contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de ITFS. Cependant, ITFS n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Conditions Générales d'Utilisation du Site et des Services Proposés</h2>
                        <p class="card-text">L’utilisation du site www.itfs.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site www.itfs.fr sont donc invités à les consulter de manière régulière.<br>
                        Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par www.itfs.fr, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.<br/>
                        Le site www.itfs.fr est mis à jour régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Description des Services Fournis</h2>
                        <p class="card-text">Le site www.itfs.fr a pour objet de fournir une information concernant l’ensemble des activités de la société.<br/>
                        La société ITFS s’efforce de fournir sur le site www.itfs.fr des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.<br/>
                        Toutes les informations indiquées sur le site www.itfs.fr sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.itfs.fr ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Limitations Contractuelles sur les Données Techniques</h2>
                        <p class="card-text">Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis à jour.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Propriété Intellectuelle et Contrefaçons</h2>
                        <p class="card-text">La société ITFS est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.<br/>
                        Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de la société ITFS.<br/>
                        Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Équipe</h2>
                        <p class="card-text">En vertu de l’article 6 de la Loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site www.itfs.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :<br />
                            Propriétaire :<br />
                            Daniel PERDRIOLLE – dpitfs[@]gmail.com<br />
                            Chef de Projet : Anthony BELLIER<br />
                            Codeurs : Stéphanie BALIAN-KOJAKIAN, Anthony BELLIER, Camille BONIN-DI SERA, Eunice CUSTODIO & Morgan RODRIGUEZ<br />
                            Graphiste : Camille BONIN-DI SERA<br />
                            Rédacteur Accueil : Morgan RODRIGUEZ<br />
                            Rédacteur Formation : Anthony BELLIER<br />
                            Rédacteur Audit : Eunice CUSTODIO<br />
                            Rédacteur Contact : Camille BONIN-DI SERA<br />
                            Rédacteur Mentions Légales, Charte Graphique, Carte de Visite, Entête, QR Code : Stéphanie BALIAN-KOJAKIAN<br />
                            Correcteur : Stéphanie BALIAN-KOJAKIAN</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>