*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.16);

}

nav{
  background-image: url(../../../assets/image/fond/Accueil/fond.png);
  
}

.nav-link{
  color: #FFC400 ;
  font-family: Mistral ;
  font-size: 1.46rem;
}

.logo{
  transform: rotate(200deg);
}
