<nav id="navbar" class="nav nav-pills flex-column flex-sm-row">
  <img class="logo" src="../../../assets/images/Logo officiel/logo spider.2.png" width="50px" height="90px" alt="">
  <a class="flex-sm-fill text-sm-center nav-link " router-link="/">Accueil</a>
  <a class="flex-sm-fill text-sm-center nav-link" router-link="formation">Formation</a>
  <a class="flex-sm-fill text-sm-center nav-link" router-link="/">I.T.F.S</a>
  <a class="flex-sm-fill text-sm-center nav-link "  router-link="audit">L'audit web</a>
  <a class="flex-sm-fill text-sm-center nav-link"  router-link="contact">Nous contacter</a>
</nav>