<nav class="navbar">
  <div class="container-fluid">
    <a class="nav-link" href="#">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Formation</a>
        <a class="nav-link" href="#">I.T.F.S</a>
        <a class="nav-link" href="#">L'audit web</a>
        <a class="nav-link disabled">Nous contacter</a>
      </div>
    </div>
  </div>
</nav>