

<nav *ngIf="settings.displayHeader" id="navbar" class="nav nav-pills flex-column flex-sm-row">
  <img class="logo" src="../../../assets/images/Logo officiel/logo spider.2.png" width="50px" height="90px" alt="">
  <a class="flex-sm-fill text-sm-center nav-link " routerLink="/">Accueil</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="formation">Formation</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/">I.T.F.S</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="audit">L'audit web</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="contact">Nous contacter</a>

</nav>

