<body>
    <section  >  
        <article  class="bordure row">
            <aside class="forms">
                 <form class="row g-2">
                    
                    <div class="col-md-6">
                    <label for="inputFirstname" class="form-label">Firstname</label>
                    <input type="text" class="form-control" id="inputFirstname" placeholder="Leo">
                    </div>

                    <div class="col-md-6">
                    <label for="inputlastname" class="form-label">Lastname</label>
                    <input type="text" class="form-control" id="inputlastname" placeholder="Pard">
                    </div>

                    <div class="col-12">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@gmail.com">
                    </div>

                    <div class="col-12">
                        <label for="exampleFormControlTextarea1"  class="form-label">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="..." rows="3"></textarea>
                    </div>
                
                    <div class="btn">
                    <button type="submit" class="btn btn-primary">Send</button>
                    
                    <button type="submit" class="btn btn-primary">Cancel</button>
                        </div>
                </form>
            </aside>
        </article>
    </section>
</body>