.bordure{
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 16vh;
    margin-bottom: 7vh;
    border: solid 2px #FFC400;
    border-radius: 2%;
    display: flex;
}


.forms{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 10vh;
    margin-bottom: 11vh;
    
}


body{
    background-image: url();

    background-repeat: no-repeat;
    background-size: cover;
}

button{
    flex-direction: row;
    
}