*{
    box-sizing: border-box;
}
body{
    background-image: url(../../../assets/images/fond/contact/forms/bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   width: 100vw;
}

section{
    margin: auto;
    height: 82vh;
    padding-top: 17vh;
}

.bordure{
    margin: auto;
    border: solid 2px #FFC400;
    border-radius: 2%;
    display: flex;
    height: 58vh;
    width: 48vw;
   padding: 10px;
    padding-top: 1vh;
}


.forms{
    color: #fac102;
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: Mistral ;
    
}


.btn{
    display: flex;
    justify-content: flex-end;
    margin: 9px;
}

button{
    background-color: #fcb602;;
    border: solid 1px #FFC400;
}

button:hover{
    background-color: #ff8800;
    border: solid 1px #ff8800;
}

h1{
    color: white;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
    font-family: roboto;
}

