.marg-1{
    margin-left: 50%;
    margin-top: 10%;
}

*{
    margin-top: -8px;
}
/* section{
    background-image: url(../../../assets/images/formation/fond-formation-itfs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


h1, h2, h3, h4, strong{

  font-family: Mistral ,Roboto, 'Segoe UI', Tahoma, sans-serif;
  color: #FFC400 !important;
   
}

p, li{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    color: white;
}


body{
    /* background-image: url(../../../assets/images/formation/fond-formation-itfs.png);
    background-position: center; */
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 45%, rgba(8,39,141,1) 55%, rgba(0,212,255,1) 100%);
}

@media screen and (min-width: 300px) and (max-width: 1079px)  {
    .marg-1{
        margin-left: initial !important;
    }
}
