<body>


    <section class="container">
        <div class="row mb-2 d-flex mt-2">
            <div class="col-md-6 marg-1">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/20945597.jpg" width="100" height="100" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Big Data</strong></h2>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">L'analyse du Big data permet aux entreprises de prendre de
                            meilleures décisions. Les entreprises doivent acquérir des compétences pour élaborer des
                            stratégies concurrentielles axées sur l'analyse des données.
                            <br />
                            <br />Elle doit également définir une approche globale articulée autour du cycle de vie des
                            données en appliquant des méthodes de modélisation des données sophistiquées.
                            <br />
                            <br />Programmation Python pour l’analyse des données : Les fondamentaux Administration de
                            Hadoop pour solutions Big Data Big Data : Introduction à la Data Science (R et Hadoop)
                            Outils de visualisation pour analyse décisionnelle.
                        </p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Cloud</strong></h2>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">Cette formation présente différentes technologies de cloud computing et
                            apporte de solides connaissances sur les concepts et les technologies nécessaires pour être
                            efficace avec le cloud. Les connaissances acquises vous permettront de déterminer si les
                            dernières technologies de cloud sont adaptées aux besoins de votre organisation d'un point
                            de vue métier et technique, de choisir les bons fournisseurs et de planifier et mettre en
                            œuvre une stratégie d'adoption du cloud.</p>
                        <br />
                        <br />Vous apprendrez à :

                        <ul>
                            <li> Approvisionner IaaS public avec Amazon AWS, Windows Azure, Google Cloud Platform et
                                IaaS privé avec OpenStack.</li>
                            <li> Créer et déployer des applications cloud et développer une stratégie de mise en oeuvre
                                efficace.</li>
                            <li> Créer et sécuriser des applications et services avec PaaS.</li>
                            <li> Exploiter SaaS pour optimiser le coût et les ressources.</li>
                        </ul>
                        <p>À qui s'adresse cette formation ?</p>
                        <p>À toute personne souhaitant exploiter les avantages des technologies cloud computing.</p>

                        <p>Prérequis :</p>
                        <p> n'est pas nécessaire d'avoir une expérience du cloud computing pour cette formation. De
                            bonnes connaissances des technologies de l'lnternet, de Microsoft Windows et des
                            applications Web sont utiles mais pas requises.</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex">
            <div class="col-md-6 marg-1">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Développement Web</strong></h2>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">Le Développeur Web crée les pages web consultées par les
                            internautes d’après les chartes graphiques imaginées par les webdesigners.</p><br />
                        <ul>
                            <li>AJAX, JS Angular, Node JS.</li>
                            <li>Appliquer une méthode de mise en page.</li>
                            <li>Concevoir les pages d'un site.</li>
                            <li>Creer un site Internet (HTML5 et CSS3).</li>
                            <li>Insérer des liens hypertextes.</li>
                            <li>Mettre un site en ligne.</li>
                            <li>Préparer et intégrer les images.</li>
                            <li>Référencement SEO, SEA.</li>
                            <li>Sites dynamiques.</li>
                            <li>Utilisation de Notepad++, Sublime Text, Bracket.</li>
                        </ul>

                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Web Marketing</strong></h2>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">Face à la concurrence, la démarche marketing doit, d’une part, répondre à la
                            demande du marché et, d’autre part, répondre aux exigences clients et, dans le cas
                            d’internet, à celles des moteurs de recherche. Ces exigences sont d’ordre qualitatif
                            (contenus), technique (sémantique) et méthodologique (bonnes pratiques).</p>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex">
            <div class="col-md-6 marg-1">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Référencement Web</strong></h2>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">Optimisation du contenu d'un site (texte, liens et images) pour le
                            référencement. Analyser et rechercher des mots clés. L'effet longue traîne. Optimiser le
                            code HTML d'un site pour le référencement.</p><br />
                        <ul>
                            <li>Analyser la concurrence.</li>
                            <li>Faire indexer son site par les moteurs de recherche.</li>
                            <li>Optimisation d'un site Google local, Google news et Google image.</li>
                            <li>Mettre en place l'URL Rewriting.</li>
                            <li>Savoir utiliser les meilleurs outils pour le référencement.</li>
                            <li>Utiliser et comprendre Google Analytics et Web Analytics.</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Base de Données</strong></h2>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">La formation "Base de données" a pour objectif de vous enseigner les
                            compétences relatives au développeur back-end. Le développeur back-end a un rôle majeur de
                            pilotage du projet, de la définition du besoin client jusqu’à la mise en ligne.</p>
                        <ul>
                            <li>Analyse sécurité du code</li>
                            <li>Développement</li>
                            <li>Mise en ligne</li>
                            <li>Réalisation de phases de test Alpha Bêta et débugage</li>
                            <li>Réalisation Merise</li>
                            <li>Recettage du projet</li>
                            <li>Sans ce dernier, les sites internet et les applications tels que vous les connaissez
                                n'existeraient pas. Création de bases de données (MySQL, Access AGL)Création</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex">
            <div class="col-md-6 marg-1">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Sécurité</strong></h2>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">Les étudiants sont préparés à des fonctions d'informaticiens ayant
                            de solides compétences en administration et en sécurisation des réseaux.</p>
                        <h3>Les thèmes professionnels abordés:</h3>
                        <p>Ils seront capables de définir une politique de sécurité informatique tendant à minimiser la
                            vulnérabilité des systèmes informatiques.</p>
                        <ul>
                            <li>Concepts de la sécurité informatique</li>
                            <li>Droit informatique</li>
                            <li>Sécurité des bases de données</li>
                            <li>Sécurité des réseaux</li>
                            <li>Sécurité des systèmes d'exploitation</li>
                            <li>Sécurité Web</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Réseaux</strong></h2>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <ul>
                            <li>Administrer les ressources à distance par l' intermédiaire de modèle ou non.</li>
                            <li>Administrer un système à l' aide d' utilisateur et de groupes.</li>
                            <li>Configurer l' adressage réseau et la résolution des noms (DNS).</li>
                            <li>Connaitre les méthodes de surveillance et d' audit des ressources et performances d'un
                                réseau.</li>
                            <li>Controler l' accès aux fichiers en local ou via le réseau.</li>
                            <li>Déployer Microsoft Windows 10 Professionnel.</li>
                            <li>Evaluer les principes de sécurisation des données ainsi que leur mise en place.</li>
                            <li>Mettre en place et administrer une imprimante partagée.</li>
                            <li>Mettre en place les méthodes efficaces pour maintenir un système.</li>
                            <li>Mettre en place une stratégie de sécurité efficace pour les données.</li>
                            <li>Prendre en charge les utilisateurs distants via les réseaux telecom ou un VPN.</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 d-flex">
            <div class="col-md-6 marg-1">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Infographies</strong></h2>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto">Vous serez formé sur les différents logiciels nécessaires pour la
                            création graphique, la PAO (Publication Assistée par Ordinateur) et la 3D.</p>
                        <ul>
                            <li>Formation Adobe After Effects</li>
                            <li>Formation Adobe Illustrator</li>
                            <li>Formation Adobe Indesign</li>
                            <li>Formation Adobe Lightroom</li>
                            <li>Formation Adobe Photoshop</li>
                            <li>Formation Adobe Premiere Pro</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>

                </div>
            </div>
        </div>
        <div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2><strong class="d-inline-block mb-2 text-primary">Bureautique</strong></h2>
                        <div class="mb-1 text-muted">Nov 11</div>
                        <p class="mb-auto">Vous serez formé sur les différents logiciels nécessaire pour l'optimisation
                            des ressources bureatiques.</p>
                        <ul>
                            <li>Formation Access 2013</li>
                            <li>Formation Excel 2013 initiation</li>
                            <li>Formation Excel 2013 perfectionnement</li>
                            <li>Formation Linux</li>
                            <li>Formation Outlook 2013</li>
                            <li>Formation Powerpoint</li>
                            <li>Formation Windows</li>
                            <li>Formation Word 2013 initiation</li>
                            <li>Formation Word 2013 perfectionnement</li>
                        </ul>
                        <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                        <img src="../../../assets/images/formation/fond-formation-itfs.png" width="100" height="100" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>